@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
}
.slider-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.left-slider {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}
.left-slider > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: #fff;
}
.left-slider h1 {
  font-size: 40px;
  margin-bottom: 15px;
  margin-top: -30px;
}
.right-slider {
  height: 100%;
  width: 65%;
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 0.5s ease-in-out;
}
.right-slider div {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
button {
  border: none;
  padding: 15px;
  background-color: #fff;
  color: #aaa;
  cursor: pointer;
}
button:hover {
  color: #222;
}
button:focus {
  outline: none;
}
.slider-container .button-container button {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
}
.slider-container .button-container button.down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.slider-container .button-container button.up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
