@import url("https://fonts.googleapis.com/css?family=Ubuntu");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.bg {
  /* background: url("https://images.unsplash.com/photo-1576161787924-01bb08dad4a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2104&q=80")
    no-repeat center center/cover; */
  background: url(images/vasily-koloda-8CqDvPuo_kI-unsplash.jpg) no-repeat
    center center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px);
}

.loading-text {
  font-size: 50px;
  color: #fff;
}

/* .loading-bullet {
  background-color: gray;
  position: relative;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  width: 226px;
  height: 40px;
  border-radius: 42%;
} */
.loading-bullet {
  background-color: gray;
  position: relative;
  left: 6%;
  top: 5%;
  transform: translate(-50%, -50%);
  width: 226px;
  height: 40px;
}
.loading-bullet span {
  position: relative;
  left: 0;
  top: 0;
  background-color: rgb(192, 32, 32);
  width: 0%;
  height: 100%;
  display: block;
}
