* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(120deg, #e4c45b, #e98b71);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 1.5rem;
}
header,
form {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  background: white;
  border: none;
  border-left: 1px solid #c4725b;
  border-bottom: 1px solid #b89e49;
  outline: none;
}
form button {
  color: #e98b71;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background-color: #e98b71;
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 30%;
  list-style: none;
}
.todo-container .todo-list .todo {
  margin: 0.5rem;
  padding: 10px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
.todo li {
  flex: 1;
}
.todo .trash-btn,
.complete-btn {
  background-color: #ff6f47;
  color: white;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;

  box-shadow: 1.2;
}
.complete-btn {
  background-color: rgb(65, 184, 65);
}
.fa-check,
.fa-trash {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  padding: 1rem;
}
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #ff6f47;
  width: 10rem;
  cursor: pointer;
}
.select::after {
  content: "\25BC";
  position: absolute;
  right: 0;
  top: 0;
  background: #ff6f47;
  padding: 1rem;
  text-align: center;
  pointer-events: none;
  transition: 0.3s;
}
.select:hover::after {
  color: #ff6f47;
  background: white;
}
